.Def_Card {
  font-family: sans-serif;
  margin: 10px 50px 20px 20%;
  float: left;
  width: 50%;
  background-color: #dfe6e9;
  text-align: center;
}

.center{
  text-align: center;
}

.comments {
  font-size: smaller;
  border-radius: 5px;
  position: relative;
  padding: 5px 5px;
  margin: 5px 50px;
  box-shadow: 0 2px 5px #ccc;
  text-align: left;
}

.name {
  font-size: 2em;
  color: #2d3436;
  display: flex;
  flex: 1;
  margin: 10% 20px 0;
}

#all-notes {
  overflow-y: scroll;
  height: 250px;
  max-height: 250px;
}
